@keyframes ldio-9o3xvk1ajh {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-9o3xvk1ajh > div {
  transform-origin: 121.50000000000001px 121.50000000000001px;
  animation: ldio-9o3xvk1ajh 0.2s infinite linear;
}
.ldio-9o3xvk1ajh > div div {
    position: absolute;
    width: 21.87px;
    height: 184.68px;
    background: #0a0a0a;
    left: 121.50000000000001px;
    top: 121.50000000000001px;
    transform: translate(-50%,-50%);
}
.ldio-9o3xvk1ajh > div div:nth-child(1) {
    width: 145.8px;
    height: 145.8px;
    border-radius: 50%;
}
.ldio-9o3xvk1ajh > div div:nth-child(6) {
    width: 97.2px;
    height: 97.2px;
    background: #ffffff;
    border-radius: 50%;
}.ldio-9o3xvk1ajh > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-9o3xvk1ajh > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-9o3xvk1ajh > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-3fclddjh3bq {
  width: 243px;
  height: 243px;
  display: block;
  overflow: hidden;
  background: none;
  background-color: none!important;
  margin:150px auto;
}
.ldio-9o3xvk1ajh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-9o3xvk1ajh div { box-sizing: content-box; }

